table td {
    font-family: monospace;
    width: 50px;
    word-wrap: normal;
}

table th {
    width: 3ch;
}

body {
    width: 1000px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}